/*
Creator: Travis M. Benton
Date created: Aug 17th, 2019
Date last modified: 8-23-2019
*/

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    background-color: beige;
    
  }

  header, footer {
    font-family: 'Permanent Marker', cursive;
    text-align: center;    
  }  

  header, footer, nav {
    background-color: white;
  }

  .description {    
    width: 600px;
    margin: auto;
    text-align: left;

  }

/* Nav - Hover */

  nav {
    
    text-align: left;
  }

  nav a:visited {
    color: darkgreen;
  }

  nav a:hover {
    font-weight: bold;
    background-color: lightsalmon       
  }

  nav a:active {
    text-decoration: none;     
  }

  /* Menu - .food 

  .foodCol1 {
    display: flex;
    justify-content: space-around;    
  }

  .foodCol2 {
    display: flex;
    justify-content: space-around;     
  }

  .bev-table {
    display: flex;
    justify-content: space-around;    
  }

  */ 
  